terraform {
  backend "s3" {
    bucket         = "replace-with-your-terraform-state-bucket"
    key            = "dhl/eks/terraform.tfstate"
    region         = "ca-central-1"
    dynamodb_table = "replace-with-your-terraform-lock-table"
    encrypt        = true
  }
}
